<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-4p | %-10c | %m %n" />
        </Console>
        <RollingFile name="rollingFile" fileName="logs/logs.txt"
                     filePattern="logs/logs-%d{yyyy-MM-dd}-%i.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-4p | %-10c | %m %n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
</Configuration>